<!-- begin:: Content Head -->
<div class="kt-grid__item" [hidden]="subheaderService.disabled$ | async" id="subheader">	
	<div class="row d-flex justify-content-between">

		<div class="col-md-2 mb-1">
			<kt-custom-dropdown [config]="dateDropdownCfg"></kt-custom-dropdown>
		</div>

		<div class="col-md-3 mb-1 text-right">
			<a (click)="createLinkClick()" 
				class="btn btn-warning btn-bold custom-btn">
				<i class="flaticon2-plus"></i>
				Create Link
			</a>
		</div>
	</div>
</div>
<!-- end:: Content Head -->